@font-face {
    font-family: inter-bold;
    src: url(assets/Inter-Bold.ttf);
}

@font-face {
    font-family: inter-semibold;
    src: url(assets/Inter-SemiBold.ttf);
}

@font-face {
    font-family: inter-medium;
    src: url(assets/Inter-Medium.ttf);
}

h1 {
    font-family: inter-bold;
}

body {
    background: rgb(29, 29, 29);
    color: white;
}

.button {
   text-align: center;
   border-radius: 20px;
   height: 100px;
   width: 250px;
   font-size: 25px;
   font-family: inter-semibold;
   color: white;
   background-color: rgb(29, 29, 29);
   border-color: white;
   border-width: 0.5px;
   box-shadow: none;
   outline: none;
   border-style: solid;
   cursor: pointer;
   transition: 0.3s;
   margin: 5px;
}

button:hover {
    background-color: rgba(116, 116, 116, 0.671);
    scale: 105%;
}

.container {
    display: flex;
    justify-content: center;
}

.big-button {
   text-align: center;
   border-radius: 30px;
   height: 300px;
   width: 455px;
   font-size: 25px;
   font-family: inter-semibold;
   color: white;
   background-color: rgb(29, 29, 29);
   border-color: white;
   border-width: 0.5px;
   box-shadow: none;
   outline: none;
   border-style: solid;
   cursor: pointer;
   transition: 0.3s;
   margin: 10px;
}

.center-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-bar {
    scale: 50%;
    padding: 0%;
}

li {
    display: inline;
    float: left;
    font-family: inter-medium;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
    margin-left: 2px;
    margin-right: 2px;
    font-family: inter-medium;
}

li a:hover {
    background-color: rgb(56, 56, 56);
    border-radius: 10px;

}

ul {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 5px;
    font-family: inter-medium;
}

.active {
    background-color: dodgerblue;
    border-radius: 10px;
}

.right {
    float: right;
}

.innerbutton {
    text-align: center;
    border-radius: 20px;
    height: 75px;
    width: 200px;
    font-size: 14px;
    font-family: inter-semibold;
    color: white;
    background-color: rgb(26, 26, 26);
    border-color: white;
    border-width: 0.5px;
    box-shadow: none;
    outline: none;
    border-style: solid;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.material-icons-round {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 2;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: -2.5px;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.status {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(58, 58, 58);
    border-radius: 10px;
    font-size: 18px;
}

.online {
    color: lime
}

.offline {
    color: red;
}

.unknown {
    color: goldenrod;
}

.ip {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: dodgerblue;
    border-radius: 10px;
    font-size: 20px;
}

.copyLink {
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.status.online span {
    color: green;
}
.status.offline span {
    color: red;
}
.status.unknown span {
    color: orange;
}