
.top-bar {
    scale: 50%;
    padding: 0%;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
    margin-left: 2px;
    margin-right: 2px;
    font-family: inter-medium;
}

li a:hover {
    background-color: rgb(56, 56, 56);
    border-radius: 10px;

}

ul {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 5px;
}

.active {
    background-color: dodgerblue;
    border-radius: 10px;
}

.right {
    float: right;
}